.btn-primary {
  background-color: #214e8f;
  color: white;
}
.calculator-btn {
  max-width: 300px;
  align-content: center;
}
.footer {
  background-color: #214e8f;
  color: white;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.footer-img {
  height: 24px;
  width: auto;
  margin-bottom: 16px;
  margin-right: 8px;
}
.header-logo {
  width: 100px;
  height: auto;
}